.container {
  max-width: 960px;
}

.site-header a {
   margin-top: 30px;
    margin-bottom: 30px;
   font-family: "Andale Mono", "Monotype.com", monospace;
    font-size: 1.5em;
    letter-spacing: -2px;
    font-weight: 400;
    color: black;
}
.site-header a:hover {
  color: greenyellow;
  text-decoration: none;
}
.name {
    margin-top: 30px;
    margin-bottom: 30px;
   font-family: "Andale Mono", "Monotype.com", monospace;
    font-size: 1.5em;
    letter-spacing: -2px;
    font-weight: 400;
}

/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

a {
    color: white;
}
a:hover {
    color: pink;
    text-decoration-line: none;
}
.overflow-hidden { 
    overflow: hidden; 
}
.first {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.5);
}
.even {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.04);
}
.odd {
    padding-top: 40px;
    padding-bottom: 40px;
}
.links-first {
    width:65%;
    background-color: rgba(0, 0, 0, 0.4);
    color: green;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin-top: 5vw;
    margin-left: 15vw;
    text-align: left;
    font-family: "Andale Mono", "Monotype.com", monospace;
}

.links-left {
    width:65%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin-top: 5vw;
    margin-left: 15vw;
    text-align: left;
    font-family: "Andale Mono", "Monotype.com", monospace;
}

.links-right {
    width:65%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 30px;
    margin-top: 5vw;
    margin-right: 5vw;
    text-align: left;
    font-family: "Andale Mono", "Monotype.com", monospace;
}

.number-right {
    margin-left: 5vw;
    font-family: 'Roboto Mono', monospace;
    font-size: 15em;
    font-weight: 600;
    text-align: left;
    color: black;
}
.number-left {
    margin-right: 5vw;
    font-family: 'Roboto Mono', monospace;
    font-size: 15em;
    font-weight: 600;
    text-align: right;
    color: black;
}
