/* Begin CSS Reset code */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
/* End CSS Reset code */
/* Begin My Css */
html, body {
    background: white;
    color: black;
    overflow-x: hidden;
    
}

div{

    position:relative;
}
a {
    color:black;

}
.row {
  position: relative;
  width: 100%;
}
.col {
    text-align: center;
    padding: 60px;
}
.header {
  
    text-align: left;
    color: black;
    font-size: 3em;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;

}
.header {
    margin: 1%;
}
.name {
    margin-bottom: 18%;
}
.bio {
    margin: 4%;
    margin-top: 33%;
    margin-bottom: 15%;
}
.about {
    align-content: right;
    margin: 4%;
    margin-bottom: 15%;
}
a {
    color: black;
    text-decoration: none;
}
p {
   font-family: 'Roboto mono', sans-serif;
    font-size: 1vw;
    font-weight: 400; 
}
.email {
   font-family: 'Roboto', sans-serif;
    font-size: 4vw!important;
    font-weight: 800;
    margin-top: 3%;
    margin-bottom: 3%;
}  

.navbar {
  padding: 30vh;
  text-align: center;
}
.navbar h1 {
    font-size: 20px;
    font-family: ocr-b-std, monospace;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.5px;
}
.navbar p {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}
.navbar a {
    text-decoration: underline;
}

.projlink a {
    text-decoration: underline;
}
.indivpage {
  padding: 30vh;
  text-align: center;
    padding-bottom: 10%;
}
.indivpage h1 {
    font-size: 1.5em;
    font-family: ocr-b-std, monospace;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -.5px;
}
.indivpage p {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}
.caption {
    padding-left: 30vh;
    padding-right: 30vh;
    text-align: left;
    padding-bottom: 10%;
}
.caption p {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}
.slidertitle {
    width: 75%;
    margin: auto;
    text-align: left;
    margin-bottom: 2%;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

    .slider {
        width: 80vw;
        margin:  auto;
    }

    .slick-slide {
      margin: 0px 10px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }

#background-wrap {
    margin: 1.5%;
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;

}
.text {
   position: fixed; 
}
.projs {
    margin-top: 44%;
    margin-bottom: 64%;
}
.oldprojs {
    margin-top: 200% !important;
    margin-bottom: 64%;
}
.column {
    float: left;
    width: 40%;
    padding: 30px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    align-content: center;
}

.first {
    margin-top: 20% !important;
}

.override {
    align-content: right;
    margin-left: 4%;
    margin-bottom: 15%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;

}

.grid-container > div {
  text-align: center;
  font-size: 30px;
}

    .slider {
        width: 80vw;
        margin:  auto;
    }

    .slick-slide {
      margin: 0px 10px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }

    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }

.more {
    display: none;
}

.mobilename {
    display: none;
}

.hide {
    display: none;
}


@media screen 
and (min-device-width : 300px) 
and (max-device-width : 1000px) 
and (orientation : portrait) { 
    .mobilename {
        margin-top: 20vh;
        margin-left: 4vw;
        display: block;
        position: fixed;
    }
    .bio {
        margin-top: 50vh;
        margin-bottom: 30vh;
    }
    .more {
        display: block;
        margin-left: 5vw;
    }
    #background-wrap {
        display: none
        
    }
    
    .mobilespace {
        margin-top: 120vh;
        margin-bottom: 40vh;
    }
    .hide {
        display: block;
    }
    
}
